.app-container {
  background-image: linear-gradient(
    to bottom right,
    #9796f0 0.5%,
    #fbc7d4 150%
  );
  min-height: 100vh;
}
.emojis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
}
.emojis-display-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-bottom: 20px;
}
